@model DAWebPhone.Models.Customer
<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
<img src="@Model.CusAvatar" alt="Profile" class="rounded-circle">
    <span class="d-none d-md-block dropdown-toggle ps-2">@Model.Sodu</span>
</a><!-- End Profile Iamge Icon -->

<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
    <li class="dropdown-header">
        <h6>@Model.CusName</h6>
        <span>VIP @Model.VIP</span>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>

    <li>
        <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile","User", new {id = Model.CusID})">
            <i class="bi bi-person"></i>
            <span>Thông tin tài khoản</span>
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>

    <li>
        <a class="dropdown-item d-flex align-items-center" href="@Url.Action("EditProfile","User", new {id = Model.CusID})">
            <i class="bi bi-gear"></i>
            <span>Cập nhật thông tin</span>
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>

    <li>
        <a class="dropdown-item d-flex align-items-center" href="@Url.Action("OrderHistory","Order", new { id = Model.CusID })">
            <i class="bi bi-question-circle"></i>
            <span>Lịch sử mua hàng</span>
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>

    <li>
        <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Logout", "User")">
            <i class="bi bi-box-arrow-right"></i>
            <span>Đăng xuất</span>
        </a>

    </li>

</ul><!-- End Profile Dropdown Items -->
