@model DAWebPhone.Models.AdminUser

<li class="nav-item dropdown pe-3">
    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="@Model.AdmAvatar" alt="Profile" class="rounded-circle">
        <span class="d-none d-md-block dropdown-toggle ps-2">@Model.AdmName</span>
    </a>

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li class="dropdown-header">
            <h6>@Model.AdmName</h6>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile", "Admin", new {id = Model.AdmID})">
                <i class="bi bi-person"></i>
                <span>Thông tin tài khoản</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("EditProfile","Admin", new {id = Model.AdmID})">
                <i class="bi bi-gear"></i>
                <span>Cài đặt tài khoản</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Logout", "Admin")">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
</li>