@model IEnumerable<DAWebPhone.Models.ProductDetailViewModel>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="pro-box" onclick="window.location.href = '@Url.Action("DetailPro","Product",new { id = item.Product.ProID })'">

                    <div class="pro-img" href="#" id="@item.Product.ProID">
                        <img src="@item.Product.BaseImg" />
                    </div>
                    <img src="~/Images/boom.png" class="saleimg" />
                    <div class="pro-sale">
                        -@item.Product.SalePercent%
                    </div>
                    <a href="@Url.Action("AddToCart","Cart",new {id = item.Product.ProID})" class="pro-cart btn btn-danger"><i class='bx bx-cart-add'></i></a>
                    <div class="pro-name">
                        <span class="pro-span"> @item.Product.ProName</span>
                    </div>
                    <div class="pro-price">
                        <span class="pro-span"> @item.FinalPrice</span>
                    </div>
                    <a href="@Url.Action("BuyNow","Order",new { id = item.Product.ProID })" class="pro-act btn btn-success">Mua ngay</a>
                </div>
            </div>
        }
    </div>
</div>
